<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <div style="background-color:#0862a1;">
        <div class="container" style="padding:20px;color: #ffffff;">
          <form action="/" method="POST">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <h3>CÔNG CỤ TÍNH LƯƠNG GROSS/NET</h3>
                </div>
                <div class="row">
                  <h5>Chuyển đổi lượng Gross sang Net chuẩn 2022</h5>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <input class="form-control mb-1" type="text" name="gross_salary" id="currency-field" pattern="^\d{1,3}(,\d{3})*(\.\d+)?$" value="<%=Gross_Salary.grossSalary?Gross_Salary.grossSalary:0 %>" data-type="currency" placeholder="1,000,000" >
                    <span class="fst-italic fs-6">Thu nhập của bạn <span class="text-warning">VNĐ</span></span>
                  </div>
                  <div class="col-md-2">
                    <select class="form-select" name="area" id="exampleFormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>                    
                    <span class="fst-italic fs-6">Chọn vùng</span></span>
                  </div>
                  <div class="col-md-2">
                    <input class="form-control" name="dependency" id="dependency" type="number" min="0" value="<%=dependency_number?dependency_number:0%>" oninput="this.value = Math.abs(this.value)" >
                    <span class="fst-italic fs-6">Số người phụ thuộc</span>
                  </div>
                  <div class="col-md-2">
                    <input class="form-control mb-1" type="text" name="StaffCode" id="StaffCode" value="<%=(user)?user.code:'';%>">
                    <span class="fst-italic fs-6">Nhập mã người dùng</span></span>
                  </div>
                  <div class="col-md-3">
                    <button type="submit" class="btn btn-success p-2 fw-bold" style="background-color: #11b719; border-color:#11b719;margin-bottom: 1.5em;">GROSS -> NET</button>
                  </div>
                </div>
              </div>
               
                </div>
                  
              </div>
            </div>
          </form>
            
            

        </div>

      </div>
      <div class="container">
        <div class="row">
            <div class="col-md-6">
              <%if(user){%>
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Thông tin cá nhân</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Mã người dùng</th>
                    <td><%=user.code;%></td>
                  </tr>
                  <tr>
                    <td scope="row">Họ người dùng</td>
                    <td><%=user.lastName;%></td>
                  </tr>
                  <tr>
                    <td scope="row">Tên người dùng</td>
                    <td><%=user.firstName;%></td>
                  </tr>
                  <tr>
                    <td scope="row">Tuổi người dùng</td>
                    <td><%=user.age;%></td>
                  </tr>
                  <tr>
                    <th scope="row">Lương Gross</th>
                    <td><%=user.grossSalary;%></td>
                  </tr>
                  <tr>
                    <th scope="row">Lương Net</th>
                    <td><%=user.netSalary;%></td>
                  </tr>
                </tbody>
              </table>

                  <%} else if(user==null){%>
                    <h5 class="text-danger" style="text-align: center">Không có người dùng nào, mời nhập mã nhân viên</h5>
                    <%}%>
            </div>
            <div class="col-md-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Diễn giải chi tiết</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">LƯƠNG GROSS</th>
                        <td><%=Gross_Salary.grossSalary;%></td>
                      </tr>
                      <tr>
                        <td scope="row">Bảo hiểm xã hội (8%)</td>
                        <td><%=(Gross_Salary.socialInsurance.trim)?"-"+(Gross_Salary.socialInsurance):0%></td>
                      </tr>
                      <tr>
                        <td scope="row">Bảo hiểm y tế (1.5%)</td>
                        <td colspan="2"><%=(Gross_Salary.healthInsurance.trim)?"-"+Gross_Salary.healthInsurance:0%></td>
                      </tr>
                      <tr>
                        <td scope="row">Bảo hiểm thất nghiệp (1%)</td>
                        <td colspan="2"><%=(Gross_Salary.unemploymentInsurance.trim)?"-"+Gross_Salary.unemploymentInsurance:0%></td>
                      </tr>
                      <tr>
                        <th scope="row">Thu nhập trước thuế</th>
                        <td colspan="2"><%=Gross_Salary.incomeBeforeTax;%></td>
                      </tr>
                      <tr>
                        <td scope="row">Giảm trừ gia cảnh bản thân</td>
                        <td colspan="2"><%=(Gross_Salary.reducePersonalCircumstances.trim)?"-"+Gross_Salary.reducePersonalCircumstances:0;%></td>
                      </tr>
                      <tr>
                        <td scope="row">Giảm trừ gia cảnh người phụ thuộc</td>
                        <td colspan="2"><%=(Gross_Salary.dependencyPeople.trim)?Gross_Salary.dependencyPeople:0;%></td>
                      </tr>
                      <tr>
                        <th scope="row">Thu nhập chịu thuế	</th>
                        <td colspan="2"><%=Gross_Salary.incomeTaxes;%></td>
                      </tr>
                      <tr>
                        <td scope="row">Thuế thu nhập cá nhân</td>
                        <td colspan="2"><%=Gross_Salary.personalIncomeTax?"-"+Gross_Salary.personalIncomeTax:0;%></td>
                      </tr>
                      <tr>
                        <th scope="row">Lương NET</th>
                        <td colspan="2"><%=Gross_Salary.netSalary;%></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <script src="/jquery/jquery.js"></script>

    <script>
    
    // Jquery Dependency
    $("input[data-type='currency']").on({
        keyup: function() {
          formatCurrency($(this));
        },
        blur: function() { 
          formatCurrency($(this), "blur");
        }
    });


    function formatNumber(n) {
      // format number 1000000 to 1,234,567
      return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    }


    function formatCurrency(input, blur) {
      // appends $ to value, validates decimal side
      // and puts cursor back in right position.
      
      // get input value
      var input_val = input.val();
      
      // don't validate empty input
      if (input_val === "") { return; }
      
      // original length
      var original_len = input_val.length;

      // initial caret position 
      var caret_pos = input.prop("selectionStart");
        
      // check for decimal
      if (input_val.indexOf(".") >= 0) {

        // get position of first decimal
        // this prevents multiple decimals from
        // being entered
        var decimal_pos = input_val.indexOf(".");

        // split number by decimal point
        var left_side = input_val.substring(0, decimal_pos);
        var right_side = input_val.substring(decimal_pos);

        // add commas to left side of number
        left_side = formatNumber(left_side);

        // validate right side
        right_side = formatNumber(right_side);
        
        // On blur make sure 2 numbers after decimal
        if (blur === "blur") {
          right_side += "00";
        }
        
        // Limit decimal to only 2 digits
        right_side = right_side.substring(0, 2);

        // join number by .
        input_val = left_side + "." + right_side;

      } else {
        // no decimal entered
        // add commas to number
        // remove all non-digits
        input_val = formatNumber(input_val);
        input_val = input_val;
      }
      
      // send updated string to input
      input.val(input_val);

      // put caret back in the right position
      var updated_len = input_val.length;
      caret_pos = updated_len - original_len + caret_pos;
      input[0].setSelectionRange(caret_pos, caret_pos);
    }
    </script>
</body>
</html>